html, body {
  height: 100%;
  width: 100%;
}

#borda{
  
  width: 300px;
  border: 2px solid red;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;

  
}
ol{
  color: green;
}

 h1{
   text-align: center;
   font-size: 25px;
 }





