html, body {
  height: 100%;
  width: 100%;
}

.azul {
  background-color: blue;
  height: 100px;
  width: 200px;
  margin: 30px;
}

.vermelho {
  background-color: red;
  height: 100px;
  width: 200px;
  margin: 0 30px 30px 30px;
}